<table>
  <thead>
    <tr>
      <th>Time</th>
      <th>Community Room</th>
      <th>Auditorium</th>
      <th>Collaboration Space</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>09:45</td>
      <td colspan="3" style="text-align:center">Registration</td>
    </tr>
    <tr>
      <td>10:00</td>
      <td colspan="3" style="text-align:center">Opening session</td>
    </tr>
    <tr>
      <td>10:30</td>
      <td><a href="/agenda#task-master">Task Master: specs-driven development in practice</a><br>Łukasz Wróbel</td>
      <td><a href="/agenda#spec-driven">Spec-Driven Development: Building Better AI Agent Instructions</a><br>Scott Frasso</td>
      <td><a href="/agenda#code-with-claude">Code with Claude: Practical AI Development Workshop</a><br>Tomasz Gancarczyk</td>
    </tr>
    <tr>
      <td>11:30</td>
      <td><a href="/agenda#task-master">Task Master: specs-driven development in practice</a><br>Łukasz Wróbel</td>
      <td><a href="/agenda#spec-driven">Spec-Driven Development: Building Better AI Agent Instructions</a><br>Scott Frasso</td>
      <td><a href="/agenda#code-with-claude">Code with Claude: Practical AI Development Workshop</a><br>Tomasz Gancarczyk</td>
    </tr>
    <tr>
      <td>12:30</td>
      <td><a href="/agenda#rapid-ai-delivery">Rapid AI product delivery - from prototype to production</a><br>Maksymilian Majer</td>
      <td><a href="/agenda#free-coding-agent">Not Only Claude and Codex – How to Use a Coding Agent Under the Console for Free [PL]</a><br>Justyna Wojtczak</td>
      <td></td>
    </tr>
    <tr>
      <td>13:15</td>
      <td colspan="3" style="text-align:center">Lunch break</td>
    </tr>
    <tr>
      <td>14:00</td>
      <td><a href="/agenda#rapid-ai-delivery">Rapid AI product delivery - from prototype to production</a><br>Maksymilian Majer</td>
      <td><a href="/agenda#free-coding-agent">Not Only Claude and Codex – How to Use a Coding Agent Under the Console for Free [PL]</a><br>Justyna Wojtczak</td>
      <td><a href="/agenda#code-refactoring">Code Refactoring in Cursor</a><br>Matt Kutyba</td>
    </tr>
    <tr>
      <td>15:00</td>
      <td><a href="/agenda#workflow-automation">Workflow automation with LLMs and n8n</a><br>Paweł Andziak</td>
      <td><a href="/agenda#cursor-features">Implementing features with Cursor IDE</a><br>Ivan Lapa</td>
      <td><a href="/agenda#code-refactoring">Code Refactoring in Cursor</a><br>Matt Kutyba</td>
    </tr>
    <tr>
      <td>16:00</td>
      <td><a href="/agenda#workflow-automation">Workflow automation with LLMs and n8n</a><br>Paweł Andziak</td>
      <td><a href="/agenda#cursor-features">Implementing features with Cursor IDE</a><br>Ivan Lapa</td>
      <td></td>
    </tr>
    <tr>
      <td>16:50</td>
      <td colspan="3" style="text-align:center">Closing session</td>
    </tr>
  </tbody>
</table>
